
<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p clss="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>

		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= accident.image%>" style="height: 150px; width: 150px;margin-left: 400px">
				<br>
				<br>
				<br>
				<br>
				<div class="caption-full">
					<h5>Name of Victim</h5>
					<p><%=accident.name%></p>
					<br>
					<h5>Accident Place</h5>
					<p><%= accident.place %></p>
					<br>
					<h5>Accident Description</h5>
					<p><%= accident.description %></p>
					<p>
						<br>

					<em>Submitted By 
							<%=accident.author.username%></em>
					</p>
					<% if( currentUser && accident.author.id.equals(currentUser._id)) {%>
						<a class="btn btn-warning" href="/accidents/<%= accident._id %>/edit">Edit</a>

						<form id="delete-form" action="/accidents/<%= accident._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger">Delete</button>
						</form>
					<% } %>


				</div>
			</div>

			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href = "/accidents/<%= accident._id%>/comments/new">Add New Comment</a>
				</div>
				<hr>
					<% accident.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="float-right">10 Days Ago</span>
							<p>
								<%= comment.text %>
							</p>

							<% if( currentUser && comment.author.id.equals(currentUser._id)) {%>


							<a class="btn btn-xs btn-warning" href="/accidents/<%= accident._id %>/comments/<%= comment._id %>/edit">
							Edit
							</a>

							<form id="delete-form" action="/accidents/<%= accident._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<input type="submit" class="btn btn-xs btn-danger" value="Delete">
							</form>
							<% } %>
						</div>
					</div>
					<% }) %>
			</div>
		</div>
	</div>
</div>




<% include ../partials/footer %>
